<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-body">
        <div class="media">
          <img [attr.src]="post?.profile?.avatar" alt="" class="avatar mr-3 rounded">
          <div class="media-body">
            <h5>
              <a routerLink="{{post?.profile?.id}}"> {{post?.profile?.fullName}} </a>
              <span class="date float-right text-muted">
              </span>
            </h5>
            <p>{{post?.text}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>